<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>게시글 상세보기</title>
</head>
<body>
  <div class="container mt-4">
    <div class="row">
      <h3 class="text-center mb-4">상세보기</h3>
      
      <table class="table table-bordered">
        <tr>
          <th width="15%" class="text-center">번호</th>
          <td width="35%">[[${vo.no}]]</td>
          <th width="15%" class="text-center">작성자</th>
          <td width="35%">[[${vo.name}]]</td>
        </tr>
        <tr>
          <th class="text-center">제목</th>
          <td colspan="3">[[${vo.subject}]]</td>
        </tr>
        <tr>
          <th>작성일</th>
    	  <td th:text="${#dates.format(vo.regdate, 'yyyy-MM-dd')}"></td>
          <th class="text-center">조회수</th>
          <td>[[${vo.hit}]]</td>
        </tr>
        <tr>
          <td colspan="4" style="height: 200px; vertical-align: top;">[[${vo.content}]]</td>
        </tr>
      </table>

      <div class="text-end">
        <a href="/board/insert" class="btn btn-sm btn-danger">글쓰기</a>
        <a href="/board/list" class="btn btn-sm btn-primary">목록</a>
      </div>
    </div>
  </div>
</body>
</html>
